modules = ["nodejs-20", "python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "i2cJ/aSDJzf96jdT000quMKqkD2NBW2T0359WM3ATe8="
NEXT_PUBLIC_APP_URL = "http://localhost:5000"
PORT = "5000"
NEXT_PUBLIC_GOOGLE_CLIENT_ID = "605756557414-h7jj1daoj2g9pfq47l3rgvm636nj81lf.apps.googleusercontent.com"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY = "AIzaSyCkEzUKHc3aZgFfhiGqpA3Hbx4CFeBL-2E"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000 -H 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
